footer {
  background: rgb(242, 242, 242);
  font-size: 0.8rem;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;

  h4 {
    max-width: 130px;
    font-size: 1rem;
    border-bottom: 1px solid black;
    margin: 0;
    padding-right: 30px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .logo {
    max-width: 120px;
    display: block;
    margin: auto;
  }

  a:hover {
    text-decoration: underline;
  }

  .footer-moto {
    font-style: italic;
    font-size: 0.9rem;
    margin: 0;
  }

  .copyright {
    font-size: 0.7rem;
    text-align: center;
    margin: 5px auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    column-gap: 50px;
    row-gap: 30px;
    justify-content: space-around;
  }

  .grid > div {
    min-width: 250px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  footer .logo {
    max-width: 200px;
  }
}
