/* Footer */

.footer {
    font-size: 1.5rem;
    padding: 3rem 0;
    background: rgb(230, 230, 230);
}

.footer .brand {
    margin: 2rem auto;
    text-align: center;
}

.footer .brand img {
    display: block;
    max-width: 140px;
    margin: auto;
}

.footer h4 {
    margin: 1rem auto;
}

.footer h4::after {
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background: #000;
}

.footer li {
    line-height: 2.2;
}

.footer a {
    display: block;
    text-decoration: none;
    color: rgb(61, 61, 61);
}

.footer a:hover {
    text-decoration: underline;
}

.footer .copyright {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
}

.footer .container > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 2rem 1rem;
    justify-content: space-around;
}

.footer .brand {
    display: block;
    grid-column: 1 / -1;
}

@media screen and (min-width: 858px) {
    .footer .brand {
        display: block;
        grid-column: auto;
        order: -1;
    }
}
