nav {
    display: grid;
    grid-template-columns: auto minmax(200px, 70%) auto;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

nav .logo {
    max-width: 140px;
}

nav ul {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    text-align: center;
}

nav ul a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--color-primary);
    transition: var(--transition-duration);
}

nav ul a:hover::after {
    width: 100%;
}