
/* Accordion */

.accordion {
  margin: 1rem auto;
}

.accordion header {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 1.5rem 0;
  cursor: pointer;
  border-bottom: 1px solid rgb(165, 165, 165);
}

.accordion header h3 {
  margin: 0;
  flex-grow: 1;
  font-size: 2rem;
}

.accordion header svg {
  display: block;
  width: 24px;
  color: var(--color-primary);
  transition: transform 0.3s;
}

.accordion p {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.accordion.expanded header svg {
  transform: rotate(-90deg);
}

.accordion.expanded p {
  max-height: 100%;
  opacity: 1;
}
