form {
  display: inline-block;
  margin: 20px auto;

  button.btn {
    display: block;
    margin: auto;
  }

  .form-control {
    margin: 30px auto;
  }

  label {
    display: block;
    transition: var(--transition-duration);
    margin-bottom: 10px;
  }

  label span.optional {
    font-style: italic;
    color: var(--color-grey);
  }

  input {
    width: 25ch;
    height: 30px;
    border: 1px solid var(--color-lightgrey);
    border-radius: 5px;
    margin-left: 15px;
  }

  textarea {
    border: 1px solid var(--color-lightgrey);
    border-radius: 5px;
  }

  input:focus ~ label {
    top: 0;
    left: 0;
  }
}
