h2 {
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 3rem auto;
}

h2:not(.heading-center)::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  margin-top: 5px;
  background: var(--color-primary);
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--color-primary-lighter);
}

.heading-center {
  text-align: center;
}