.wave-section {
  position: relative;
  background: var(--color-primary);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.wave-section h2 {
  color: white;
}

.wave-section p {
    margin: 40px auto;
}

.custom-shape-divider-top-1610045199 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1610045199 svg {
  position: relative;
  display: block;
  width: calc(166% + 1.3px);
  height: 85px;
}

.custom-shape-divider-top-1610045199 .shape-fill {
  fill: #ffffff;
}
