.about-us-intro .grid {
  align-items: center;
  justify-content: space-around;
}

.why-vaultinum {
  ul {
    list-style: none;
    padding: 0;
    line-height: 50px;
  }

  h2::after {
    display: none;
  }

  .grid {
    gap: 3rem 3rem;
    margin-bottom: 40px;
  }
  h3 {
    margin: 20px auto;
  }
}
