.blog {
  margin-bottom: 60px;

  h1 {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 30px auto 20px;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 40%;
      height: 1px;
      margin: 10px auto auto;
      background: lightgrey;
    }
  }
  h2 {
      display: inline-block;
    margin: 60px auto 20px;
    position: relative;
    font-weight: normal;
    font-size: 1.6rem;

    &::before {
      content: '';
      transition: 0.3s;
      display: inline-block;
      width: 80%;
      height: 15px;
      position: absolute;
      bottom: -2px;
      left: -8px;
      z-index: -10;
      background: var(--color-lightblue);
    }

    &:hover::before {
      width: 110%;
      height: 35px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

.blog-article {
  img {
    height: auto;
    max-width: 80%;
    margin: 20px auto;
    display: block;
  }

  margin-bottom: 100px;
}
