.customers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  justify-items: center;
  align-items: center;
}

.customers-sample img {
  max-width: 200px;
  max-height: 130px;

  p:last-child {
    text-align: center;
  }
}

.intro {
  position: relative;
  color: white;
  max-width: 1400px;
  margin: auto;
  font-weight: bold;

  div {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
    left: 0;
    height: 100%;
  }

  div h1 {
    font-size: 3.5rem;
  }

  div p {
    font-size: 2.5rem;
  }

  video {
    max-width: 100%;
  }
}

.safety {
  .row {
    display: flex;
    align-items: center;
    margin: 2rem auto;
  }

  .row div {
    margin: 0 40px;
  }

  .row div img {
    height: 130px;
  }
}

.all-solutions {
  display: inline-block;
  margin: auto;
}

.home-solutions-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: 80px;
  row-gap: 80px;
  margin-bottom: 60px;
}

.home-solution {
  text-align: center;
}
