.solutions {
  .kys-levels {
    background: linear-gradient(45deg, rgb(57, 110, 142), rgb(105, 138, 163));
    padding: 100px 30px;
    text-align: center;
    .grid {
      color: white;
      margin-bottom: 40px;
      gap: 0 5rem;
    }

    h3 {
      color: white;

      margin-bottom: 40px;
    }
  }

  .btn {
      display: inline-block;
      margin: auto;
  }

  .more-info {
      margin-bottom: 50px;
      h2 {
          text-align: center;
          &::after {
              display: none;
          }
      }
  }
}
