@import "./vars";

/* REGIONS */
@import "regions/nav";
@import "regions/footer";

/* LAYOUTS */
@import "layouts/base";
@import "layouts/homepage";
@import "layouts/about_us";
@import "layouts/solutions";
@import "layouts/blog";

/* COMPONENTS */
@import "components/buttons";
@import "components/accordion";
@import "components/link";
@import "components/wave_section";

:root {
    color: var(--color-font);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

body {
    color: var(--color-body);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

/* Typography */

h1,
h2,
h3 {
    color: var(--color-heading);
    margin-bottom: 3rem;
    line-height: 1.1;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.6rem;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: var(--color-heading);
}

.heading.contrast {
    color: white;
}

h3 {
    font-size: 3rem;
}

p {
    margin: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

p {
    margin: 20px auto;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.grid {
    display: grid;
    justify-items: center;
    gap: 4rem 0;
}

@media screen and (min-width: 768px) {
    .grid-1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-1x3 {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        justify-content: flex-start;
        gap: 2rem 0;
    }
}

.block {
    padding: 2rem 2rem;
}

.media {
    text-align: center;
    margin-bottom: 6rem;
}

.media:last-of-type {
    margin: 0;
}

.media img {
    display: block;
    margin: 2rem auto;
    max-width: 170px;
}

.media h3 {
    margin: 0 auto 1rem;
    color: var(--color-heading-subheading);
}

@media screen and (min-width: 768px) {
    .media {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .media img {
        margin-right: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .safety .media:nth-child(even) img {
        order: 2;
        margin-left: 3rem;
        margin-right: 0;
    }
}

/* Forms */

form {
    margin-bottom: 3rem;
}

form .btn {
    display: block;
    margin: auto;
}

input,
textarea {
    font-size: 1.8rem;
    outline: 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: border 0.3s ease-out;
    max-width: 100%;
}

textarea {
    width: 90%;
}

input {
    width: 25ch;
    padding: 1rem 1rem;
}

input:focus,
textarea:focus {
    border: 1px solid grey;
}

.input-group {
    position: relative;
    margin: 3.5rem 2rem;
}

.input-group label {
    color: rgb(61, 61, 61);
    left: 1.2rem;
    order: -1;
    pointer-events: none;
    position: absolute;
    top: 0.9rem;
    transition: all 0.2s ease-out;
}


.input-group label.floating,
.input-group input:focus ~ label,
.input-group textarea:focus ~ label {
    top: -2.5rem;
    left: -0.5rem;
}

label .label-optional {
    color: rgb(121, 121, 121);
    font-style: italic;
}


/* Contact page */ 

.contact-address img {
    width: 400px;
    max-width: 100%;
}